# Local env
Interface/bin
Interface/include
Interface/lib

# Ignore everything in this directory
Interface/Logs/**
# Except this file
!Interface/Logs/dummy.txt
Plots/*.csv
**/__pycache__
**/*.log
Xsens/Program/Xsens_to_UDP/.vs
Plots/Recordings/*
